mnist_cnn.pt
mnist_cnn.pt.bak
ngc-cli.md5
ngccli_linux.zip
README.md
test
test_acad11.py
train.py.bak
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
ngc-cli/_cffi_backend.cpython-39-x86_64-linux-gnu.so
ngc-cli/base_library.zip
ngc-cli/libcom_err.so.2
.ipynb_checkpoints/
